main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-container{
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 10px;
}

button{
   height: 100px;
    width: 100px;
    border: 3px solid #f3f1f1;
    border-radius: 5px;
    cursor: pointer;
    opacity:0.1;
}

button.on{
  opacity: 1
}
